@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(169, 169, 250);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


.add-note, .note {
    height: 400px;
    min-width: 350px;
    background-color: #efecec;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.add-note {
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.note {
    padding: 20px;
}

.description {
    max-height: 300px;
    overflow-y: auto;
}
h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.botton-content {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #A9A9A9;
}

.options-menu-container{
    position: relative;
}
.options-menu {
    cursor: pointer;
}

.options {
    z-index: 2;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    bottom: 100%;
    right: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease-in ;
    transform-origin: bottom right;
    transform: scale(0);
}

.options.show {
    transform: scale(1);
} 
.options span {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.options span:hover {
    background-color: #cccaca;
}

.add-note i {
    width: 150px;
    height: 150px;
    border: 4px dashed #1DA1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    color: #1DA1F2;
    font-weight: 300;
}

.add-note p {
    font-size: 1.5rem;
    color: #1DA1F2;
}

.popup-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
}

.popup-container.show {
    opacity: 1;
    pointer-events: auto;
}

.popup-wrapper {
    height: 600px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.popup-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;

    border-bottom: 1px solid #cccaca;
}

.popup-top, .row {
    user-select: none;
    -moz-user-select: none;
}

.popup-top i {
    font-size: 1.2rem;
    color: #cccaca;
}

.popup-top i:hover{ 
    color: #A9A9A9;
}

.popup-wrapper form {
    padding: 1.2em;
}

.row {
    display: block;
    margin-bottom: 0.8em;
    font-weight: 500;
    font-size: 1.2rem;
}

form input, form textarea {
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding-inline: 1.2em;
    font-size: 1.1rem;
}

form input {
    height: 50px;
}

form textarea {
    resize: none;
    height: 200px;
    width: 100%;
    padding-block: 1.2em;

}

button {
    background-color: #1DA1F2;
    width: 100%;
    padding-block: 10px;
    border: none;
    outline: none;
    font-family: inherit;
    color: white;
    font-size: 1.2rem;
    margin-top: 0.5em;

}

@media screen  and (min-width: 1200px){
    section {
        padding-inline: 5vw;
        padding-block: 50px;
    }
}